
body {
  background: linear-gradient(to bottom, #f0f8f7, #d9ebec);
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
}

h2 {
  color: #2c3e50;
}


/* Stile per il div con id="root" */
#root {
  /* Questi stili centrano il contenuto e danno un padding */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* Rimosso text-align: center; qui per permettere un allineamento più flessibile dei contenuti */
}

.alert-success {
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
  
}.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
