


/* Stile per il div con id="root" */
#root {
  /* Questi stili centrano il contenuto e danno un padding */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* Rimosso text-align: center; qui per permettere un allineamento più flessibile dei contenuti */
}

